# Data Science Tools and Ecosystem

In this netbook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List common open source tools used in Data Science

Some of the commonly used libraries used by Data Scientists include: 
1. Python
2. R
3. SQL
4. Scala
5. Julia
6. C
7. C++
8. Java

Some of the commonly used libraries used by Data Scientists include: 
1. ggplot
2. Pandas
3. Numpy
4. Matplotlib
5. Seaborn

| Data Science Tools |
|-------------------|
| Jupyter IDE |
| Rstudio IDE |
| Microsoft Visual Studio IDE |

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [16]:
# this will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Yanina Rizzi